* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    border: none;
    list-style: none;
}
.header {
    padding: 20px;
    display: flex;
    flex-direction: row;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #102c57;
}
#account {
    width: 180px;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    font-size: 1em;
    font-family: 'Hind', sans-serif;
    background-color: #DAC0A3;
    color: #102c57;
    cursor: pointer;
}
#icon1 {
   margin-left: -30px;
   margin-top: 20px;
   text-align: center;
}
.addacc {
    padding: 10px;
    position: absolute;
    width: 160px;
    border-radius: 5px;
    background-color: #EADBC8;
    font-family: 'Hind', sans-serif;
    gap: 10px;
    color: #102c57;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
#addacc {
    visibility: hidden;
}
.search {
    display: flex;
    align-items: center;
}
#search {
    width: 180px;
    padding: 10px;
    border: 1px solid #102c57;
    border-radius: 2em;
    outline: 1px solid #102c57;
}
#searchicon {
    margin-left: -30px;
}
.header-icon:hover {
    cursor: pointer;
}
.sides {
    padding: 20px;
    width: 210px;
    border-right: 1px solid #102c57;
}
.side, .settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.side:hover {
    background-color: #DAC0A3;
    width: 220px;
    border-radius: 15px;
}
#settings:hover {
    background-color: #DAC0A3;
    width: 220px;
    border-radius: 15px;
}
.name-icon {
    font-size: 1.8rem;
    font-family: 'hind', sans-serif;
    cursor: pointer;
    color: #102c57;
}
.more-set {
    margin: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: left;
    visibility: hidden;
}
.catergory {
    margin-top: 20px;
    font-size: 1.5rem;
    font-family: 'Supreme', sans-serif;
    color: #102c57;
    border-bottom: 1px solid #102c57;
}
#catergories {
    padding: 20px;
    font-size: 0.9em;
    font-family: 'Supreme', sans-serif;
    color: #4c6387;
    cursor: pointer;
}
li .lines {
    margin-top: 10px;
}
.scrollbar-horizontal::-webkit-scrollbar {
    width: 1em;
}
.scrollbar-horizontal::-webkit-scrollbar-track {
    background: #DAC0A3;
    border-radius: 100vw;
    margin-block: .5em;
}
.scrollbar-horizontal::-webkit-scrollbar-thumb {
    background: #EADBC8;
    border-radius: 100vw;
    border: 1px solid #DAC0A3;
}
.tag-list {
    text-align: center;
    margin-top: -200px;
}
.tag-list li {
    width: fit-content;
    padding: 1rem;
    background: #DAC0A3;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem #DAC0A3;
    cursor: pointer;
    font-family: 'Hind', sans-serif;
    color: #102c57;
}
.scroller {
    margin-left: 300px;
}
.scroller__inner {
    display: flex;
    padding-block: 1rem;
    gap: 1rem;
}
.titleMovie {
    margin-top: 50px;
    margin-left: 300px;
    font-size: 2rem;
    font-family: 'Supreme', sans-serif;
    color: #102c57;
}
.top-movies {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
}
.top-series {
    margin-top: 700px;
    margin-left: 200px;
}
.container, .container2 {
    position: absolute;
    width: 80vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider, .slider2 {
    position: absolute;
    inset: 80px 200px 80px 80px;
    background: #ccc;
    border-radius: 20px;
}
.slider .slides, .slider2 .slides2 {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 240px;
    height: 320px;
    background: var(--img);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.slider .slides:nth-child(1),
.slider .slides:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0);
    background-size: cover;
}
.slider .slides:nth-child(3) {
    left: calc(50% + 240px);
    background-size: cover;
}
.slider .slides:nth-child(4) {
    left: calc(50% + 500px);
    background-size: cover;
}
.slider .slides:nth-child(5) {
    left: calc(50% + 760px);
    background-size: cover;
}
.slider .slides:nth-child(6) {
    left: calc(50% + 1020px);
    background-size: cover;
    opacity: 0;
}
.buttons {
    margin-top: 580px;
    margin-left: 400px;
    position: absolute;
    display: flex;
    gap: 20px;
}
.buttons span {
    position: relative;
    width: 50px;
    height: 50px;
    background: #DAC0A3;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.buttons span::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    transform: rotate(315deg) translate(2px,2px);
}
.buttons span:nth-child(2)::before {
    transform: rotate(135deg) translate(2px,2px);
}
.buttons span:active {
    opacity: 0.5;
}
.content {
    position: relative;
    padding: 40px;
    max-width: 60px;
    transition: 0.25s;
    transition-delay: 0s;
    transform: translateY(40px);
    z-index: 10000;
    opacity: 0;
}
.content h2 {
    font-size: 4rem;
    color: #fff;
}
.content p {
    color: #fff;
}
.slider .slides:nth-child(1) .content,
.slider .slides:nth-child(2) .content {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.5s;
}
.slider2 .slides2:nth-child(1),
.slider2 .slides2:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0);
    background-size: cover;
}
.slider2 .slides2:nth-child(3) {
    left: calc(50% + 240px);
    background-size: cover;
}
.slider2 .slides2:nth-child(4) {
    left: calc(50% + 500px);
    background-size: cover;
}
.slider2 .slides2:nth-child(5) {
    left: calc(50% + 760px);
    background-size: cover;
}
.slider2 .slides2:nth-child(6) {
    left: calc(50% + 1020px);
    background-size: cover;
    opacity: 0;
}
.buttons2 {
    margin-top: 600px;
    margin-left: 420px;
    position: absolute;
    display: flex;
    gap: 20px;
}
.buttons2 span {
    position: relative;
    width: 50px;
    height: 50px;
    background: #DAC0A3;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.buttons2 span::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    transform: rotate(315deg) translate(2px,2px);
}
.buttons2 span:nth-child(2)::before {
    transform: rotate(135deg) translate(2px,2px);
}
.buttons2 span:active {
    opacity: 0.5;
}
.content2 {
    position: relative;
    padding: 40px;
    max-width: 60px;
    transition: 0.25s;
    transition-delay: 0s;
    transform: translateY(40px);
    z-index: 10000;
    opacity: 0;
}
.content2 h2 {
    font-size: 4rem;
    color: #fff;
}
.content2 p {
    color: #fff;
}
.slider2 .slides2:nth-child(1) .content2,
.slider2 .slides2:nth-child(2) .content2 {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.5s;
}

@media(max-width: 900px) {
    
}