*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    border: none;
    list-style: none;
}
body {
    background-color: #FEFAF6;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.navbar{
    padding-right: 15px;
    padding-left: 15px;
}
.nav-div {
    align-items: center;
    justify-content: space-between;
}
.logo, h1 {
    font-size: 2em;
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    color: #DAC0A3;
    filter: drop-shadow(-3px 2px 3px #EADBC8);
    flex: 2;
}
.span{
    font-family: 'pencerio', sans-serif;
    font-size: 2.5rem;
}
main {
    background-color: #EADBC8;
    margin: 50px;
    padding: 30px;
    border-radius: 20px;
}
.container-box {
    background-image: url(./images/arcane2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1090px;
    height: 400px;
    margin: 30px;
    padding: 20px;
    font-size: 3em;
    font-family: 'Supreme', sans-serif;
    color: #102c57;
    border-radius: 20px;
}
.binge {
    text-align: center;
    font-size: 3em;
    font-family: 'Trench', sans-serif;
    color: #102c57;
}
.paragraph {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    font-family: 'Supreme', sans-serif;
    color: #102c57;
}
.perks-list {
    margin: 20px;
    padding: 20px;
    font-size: 0.9rem;
    font-family: 'Pilcrow', sans-serif;
    color: #102c57;
    font-weight: 300;
}
.perk-name {
    margin: 20px;
    font-size: 1.8rem;
    font-family: 'Hind', sans-serif;
}
.list li {
    list-style: circle;
    font-family: 'Supreme', sans-serif;
    font-size: 1.2rem;
}
#reg {
    margin: 20px;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-family: 'Supreme', sans-serif;
    font-weight: 400;
    color: #ffffff;
    background-color: #DAC0A3;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px 1px #cdb293;
}
#reg:hover {
    background-color: #EADBC8;
    margin-top: -20px;
}
.words, .words2 {
    margin: 20px;
    font-size: 4rem;
    font-family: 'Tanker', sans-serif;
    color: #102c57;
}
.best-in-cinema, .bestTv {
    background-color: #DAC0A3;
    margin: 10px;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.bestMovies, .bestSeries {
    background-color: #EADBC8;
    margin: 20px;
    padding: 30px;
    border: 2px solid #cdb293;
    box-shadow: 2px 2px 6px 1px #c59e70;
    cursor: pointer;
}
#series {
    height: 510px;
}
#series2 img {
    width: 300px;
    height: 400px;
}
.bestMovies:hover {
    margin: -5px;
    border-radius: 20px;
    font-size: 2em;
}
.bestSeries:hover {
    margin: -5px;
    border-radius: 20px;
    font-size: 2em;
}
.movie-sec1 {
    display: grid;
    grid-template-columns: 400px 700px;
}
.movie-sec2 {
    display: grid;
    grid-template-columns: 300px 500px 300px; 
}
.bestTv {
    margin-top: 10px;
    padding: 20px;
}
.titles {
    font-size: 2rem;
    font-family: 'Supreme', sans-serif;
    font-weight: 300;
    color: #FEFAF6;
    display: none;
}
.show1 {
    flex: 2;
    display: grid;
    grid-template-columns: 300px 400px;
    grid-template-rows: 1fr;
}
.show2 {
    flex: 1;
}
/* Style for the signin page and sign up page.*/

.container, .container-bx {
    text-align: center;
    margin: auto;
    padding: 30px;
    width: 400px;
    height: 100%;
    background-color: #DAC0A3;
    border: 2px solid #cdb293;
    border-radius: 30px;
    box-shadow: 2px 2px 4px 2px #c59e70;
}
.login {
    margin-top: 20px;
    font-size: 3rem;
    font-family: 'Supreme', sans-serif;
    font-weight: 800;
    color: #102c57;
}
.input-sec, .forgot, #inputs {
    margin-top: 20px;
}
#email, #password, #name, #lastname, #emails, #passwords, #auth-password {
    padding: 10px;
    border-radius: 10px;
    width: 250px;
}
#icon1, #icon2 {
    margin-left: -30px;
}
.forgot {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    gap: 100px;
    font-size: 1.1em;
    font-family: 'Supreme', sans-serif;
    font-weight: 400;
    color: #102c57;
}
.acc {
    margin-top: 20px;
    font-size: 1.2em;
    font-family: 'Supreme', sans-serif;
    color: #102c57;
}
.container-bx {
    width: 600px;
    margin-top: 80px;
    background-color: #FEFAF6;
    border-radius: 10px;
}
.person, .personal-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.personal-info{
    margin: 20px;
    gap: 200px;
    color: #102c57;
    font-family: 'Supreme', sans-serif;
}
.name1, .name2 {
    margin-top: 20px;
    margin-left: -210px;
    font-size: 1.5em;
    font-family: 'Supreme', sans-serif;
    color: #102c57;
}
.name2 {
    margin-left: -150px;
}
#name, #lastname, #emails, #passwords, #auth-password{
    margin-top: 10px;
    padding: 20px;
    background-color: #c5c3c3;
}
.info {
    margin-left: -340px;
}
#icon3, #icon4, #icon5 {
    margin-left: -50px;
}
#submitbtn {
    margin-top: 40px;
    padding: 20px;
    width: 150px;
    border-radius: 10px;
    background-color: #DAC0A3;
    color: #FEFAF6;
    font-size: 1.2em;
    font-family: 'Hind', sans-serif;
    border: 1px solid #cdb293;
    box-shadow: 2px 2px 4px 1px #c59e70;
    cursor: pointer;
}
#submitbtn:hover {
    margin: 5px;
    background-color: #cdb293;
    border: 2px solid #DAC0A3;
}
footer {
    padding: 20px;
    background-color: #102c57;
    text-align: center;
}